<div class="content_header">
    <%= link_to '添加',new_bugtype_path,class:"btn btn-primary" %>
</div>

<table class="table table-hover" style="width:70%;margin:0 auto;">
  <thead>
    <tr>
      <th>类型</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @bugtypes.each do |bugtype| %>
      <tr>
        <td><%= bugtype.typename %></td>
        <td><%= link_to '编辑', edit_bugtype_path(bugtype) %></td>
        <td><%= link_to '删除', bugtype, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


